  /* Jumbotrons */
  .jumbotron-detail-mountains-top {
    background: url('../images/mtn_top.jpg') no-repeat center center;
    position  : relative;
  }

  .jumbotron {
    box-shadow     : inset 0 0 0 100vw rgba(0, 0, 0, 0.1);
    height         : 25vh;
    background-size: cover;
  }

  /* Section styles */
  .section:nth-child(even) {
    background-color: #f7f7f7;
  }

  .section:nth-child(odd) {
    background-color: white;
  }

  /* .section-header {
   padding-top: 25px;
   padding-right: 10px;
 } */

  /* Timeline */
  .card {
    border          : none;
    border-radius   : 0px 0px 0px 0px;
    background-color: whitesmoke;
  }

  .timeline {
    border-left               : 2px solid #020202;
    border-bottom-right-radius: 4px;
    border-top-right-radius   : 4px;
    background                : #f5f5f5;
    margin                    : 0 auto;
    letter-spacing            : 0.2px;
    position                  : relative;
    line-height               : 1.4em;
    font-size                 : 1.03em;
    padding                   : 50px;
    list-style                : none;
    text-align                : left;
    box-shadow                : rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }

  .timeline .event {
    /* border-bottom: 2px dashed #020202; */
    /* padding-bottom: 25px; */
    padding      : 7px;
    margin-bottom: 25px;
    position     : relative;
    box-shadow   : rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 8px;
  }


  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom : 0;
    border        : none;
  }

  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display : block;
    top     : 0;
  }

  .timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #000000;
    box-shadow        : 0 0 0 3px #000000;
    left              : -55.8px;
    background        : #fff;
    border-radius     : 50%;
    height            : 9px;
    width             : 9px;
    content           : "";
    top               : 5px;
  }

  .timeline .event:first-of-type::after {
    -webkit-box-shadow: 0 0 0 3px #000000;
    box-shadow        : 0 0 0 3px #000000;
    left              : -55.8px;
    background        : #000000;
    border-radius     : 50%;
    height            : 9px;
    width             : 9px;
    content           : "";
    top               : 5px;
  }

  @media (max-width: 767px) {
    .timeline {
      max-width: 98%;
      padding  : 25px;
    }
  }

  @media (max-width: 767px) {
    .timeline .event {
      padding-top: 30px;
    }
  }

  @media (max-width: 767px) {
    .timeline .event:before {
      left      : 0px;
      text-align: left;
    }
  }

  @media (max-width: 767px) {
    .timeline .event:after {
      left: -31.8px;
    }
  }

  @media (max-width: 767px) {
    .timeline .event:first-of-type::after {
      left: -31.8px;
    }
  }

  .centered-content {
    position    : absolute;
    top         : 50%;
    left        : 50%;
    margin-right: -50%;
    transform   : translate(-50%, -50%);
  }

  /* Expanding content */
  .content-hidden {
    display: none;
  }

  .expanding-section-chevron {
    height    : 1em;
    position  : relative;
    margin-top: 5px;
  }

  .expanding-section-chevron svg {
    transition: 0.25s;
  }

  /* Expanding content hover actions */
  #moreExperience:hover .content-hidden {
    display: inline-block;
    z-index: 100;
  }

  #moreExperience:hover svg {
    display: none;
  }

  /* Extra experience box (displays on chevron hover) */
  .extra-exp-item {
    display         : inline-block;
    background-color: #e6e8e7;
    z-index         : 100;
    border-radius   : 5px;
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size       : 1.0em;
    padding         : 5px;
    margin          : 5px;
  }

  /* Timeline events */
  .exp-content {
    transition: transform .25s;
  }

  .exp-content:hover {
    transform    : scale(1.12);
    background   : whitesmoke;
    border-radius: 5px;
    box-shadow   : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size    : 1.0em;
    padding      : 5px;
  }

  /* Education section */
  .education {
    background-color: white;
    border-radius   : 6.5px;
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size       : 1.0em;
    padding         : 20px;
    margin          : 25px;
  }

  .education h3 {
    text-align: center;
  }

  .align-left {
    float: left;
  }

  .align-right {
    float: right;
  }

  .education-details-button {
    background: url("../images/chevron-down.svg") no-repeat center center;
    width     : 50px;
    height    : 50px;
    border    : none;
    position  : absolute;
    transition: 0.25s;
    top       : 80%;
  }

  .education-details-button-up {
    background: url("../images/chevron-up.svg") no-repeat center center;
    width     : 50px;
    height    : 50px;
    border    : none;
    position  : absolute;
    transition: 0.25s;
    top       : 80%;
  }